QuantiSNPscript:           /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/QuantiSNPexecutor.sh
PennCNVscript:             /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/PennCNVexecutor.sh
sex:                       /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources/id_sexmf_wbatch.txt
pfb:                       /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources/UKBB_PFB.pfb
gcmodel:                   /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources/UKBB_gcModel.txt
outputQuant:               /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/CNVquantiSNP
outputPenn:                /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/CNVpennCNV
pyScript:                  /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/pyCNVCallingParallel.py
inputBaseDir:              /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources
hmm:                       /home/j/jacquese/lyon/scratch/BIGFILE/SOFT/PennCNV-1.0.5/affy/libgw6/affygw6.hmm
hmmList:                   /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources/listSelectedIDforHMM.txt
hmmtrainOut:               /home/j/jacquese/lyon/scratch/BIGFILE/UKBB_CNV/AnalysisScripts_CNVcalling/ressources/myPersonalProjectHMM
pennCNVpath:               /home/j/jacquese/lyon/scratch/BIGFILE/SOFT/PennCNV-1.0.5
quantiSNPpath:             /home/j/jacquese/lyon/scratch/BIGFILE/SOFT/QUANTISNP
levelsDATApath:            /home/j/jacquese/lyon/scratch/BIGFILE/SOFT/QUANTISNP/quantisnp/config/levels-axiom.dat
