QuantiSNPscript:           /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/QuantiSNPexecutor.sh
PennCNVscript:             /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/PennCNVexecutor.sh
sex:                       /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources/id_sexmf_wbatch.txt
pfb:                       /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources/UKBB_PFB.pfb
gcmodel:                   /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources/UKBB_gcModel.txt
outputQuant:               /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/CNVquantiSNP
outputPenn:                /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/CNVpennCNV
pyScript:                  /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/pyCNVCallingParallel.py
inputBaseDir:              /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources
hmm:                       /Path_to_the_PennCNV_installation_repository/PennCNV-1.0.5/affy/libgw6/affygw6.hmm
hmmList:                   /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources/listSelectedIDforHMM.txt
hmmtrainOut:               /Path_to_the_pipeline_installation_repository/AnalysisScripts_CNVcalling/ressources/myPersonalProjectHMM
pennCNVpath:               /Path_to_the_PennCNV_installation_repository/PennCNV-1.0.5
quantiSNPpath:             /Path_to_the_QuantiSNP_installation_repository/QUANTISNP
levelsDATApath:            /Path_to_the_pipeline_installation_repository/QUANTISNP/quantisnp/config/levels-axiom.dat
